<div class="card-header">
  Configurações do perfil
</div>
<ul class="list-group list-group-flush">
    <a href="<%= settings_path %>" style="text-decoration: none; font-weight: 600;"><li class="list-group-item">Meu perfil</li></a>
  <a href="<%= password_settings_path %>" style="text-decoration: none; font-weight: 600;"><li class="list-group-item">Alterar senha</li></a>
  <a href="#" style="text-decoration: none; font-weight: 600;"><li class="list-group-item">Endereço</li></a>
  <a href="#" style="text-decoration: none; font-weight: 600;"><li class="list-group-item">Favoritos</li></a>
</ul>